.input {
	padding: 16px;
	align-items: center;
	gap: 8px;
	flex: 1 0 0;
	border-radius: 8px;
	border: 1px solid #0D0D0D;
	background: #262626;
	color: #F2F2F2;
	font-family: Inter;
	font-size: 16px;
	line-height: 140%;
}

.input:focus {
	border: 1px solid #5E60CE;
	transition: all 0.2s ease 0s;
}

::placeholder {
	font-size: 16px;
	line-height: 140%;
	color: #808080;
}