.categoryItem {
	width: 100%;
	display: flex;
	gap: 30px;
	flex-direction: column;
	min-height: 500px;
	align-items: center;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.categoryImage {
	width: 100%;
}

.categoryName {
	color: #000;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
}

.categoryDescription {
	flex: 1 1 auto;
	color: rgba(0, 0, 0, 0.50);
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	padding: 8px;
}