.menu {
	display: flex;
	gap: 15px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-family: quando, serif;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

.menu a:hover {
	color: #db7806;
	text-decoration: underline;
}