.checkbox>img {
	width: 18px;
	height: 18px;
	color: #fff;
}

.icon {
	color: #4EA8DE;
	opacity: 0.2;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.icon:hover {
	color: #1E6F9F;
}

.completeIcon {
	color: #5E60CE;
}

.completeIcon:hover {
	color: #8284FA;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}